*{
	margin: 0;
	padding: 0;
}
body{
	background: #fff;
	font-family: Myriad Pro;
}
.main-container{
	width: 1200px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: white;
}
header{
	background: blue;
	height: 45px;
	color: white;
}
.left-topic{
	width: 460px;
	height: 45px;
	float: left;
}
.click1{
	width: 104px;
	height: 5px;
	margin: 5px 5px 0 0;
	padding: 20px 5px;
	background: blue;
	float: left;
	font-size: 15px;
	text-align: center;
	font-weight: 500;
}
.click1:hover{
	background: yellow;
	width: 144px;	
}
.right-topic{
	float: right;
	font-size: 12px;
}
.right-topic a:hover{
	color: yellow;
}
.manystore{
	color: #fff;
	width: 126px;
	height: 45px;
	margin: 0 15px;
}
